*~
*.pye
*.pyc
*.sqlite3
**/__pycache__/
.python-version
.coverage
.vscode
.idea
secret_key.txt
cover
.scannerwork
pylint-report.txt
coverage.xml
django/portal_transparencia/public_static/*
django/logs/development/*
!django/logs/development/.gitkeep
statistics.html
.coverage.*
backups/*
django/backups/*
yarn.lock
.mypy_cache
chrome.deb
chromedriver
selenium-server-standalone.jar
.DS_Store
!.gitkeep
.vscode
.python-version
node_modules/
yarn.lock
package-lock.json
Pipfile*
celerybeat-schedule
